{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <h1 class="fw-bold display-6 text-center py-5"><span class="bg-warning rounded-start-5 ps-3">CONTACT</span><span
            class="bg-dark text-warning rounded-end-5 pe-3">US</span></h1>


    <div class="d-flex justify-content-center align-items-center">


        <img class="w-50" src="{% static 'svgs\form.svg' %}" alt="" srcset="">

        <form class="w-50">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Message</label>
                <textarea type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp"></textarea>
                <div id="emailHelp" class="form-text">We will respond as fast as we can.</div>
            </div>
            <button type="submit" class="btn btn-warning rounded-pill px-5">Submit</button>
        </form>
    </div>
</div>

{% endblock %}