]{% load static %}
<nav class="navbar navbar-expand-lg bg-warning sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'animals-home' %}"><img src="{% static 'svgs\elephant.svg' %}" width="50px"  alt=""> <span class="fw-bold text-white fs-1">WILD</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fs-4" aria-current="page" href="{% url 'animals-home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="{% url 'animals-about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fs-4" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Plants
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fs-4" href="{% url 'plants-species' %}">species</a></li>
                        <li><a class="dropdown-item fs-4" href="{% url 'plants-locations' %}">locations</a></li>
                        <li><a class="dropdown-item fs-4" href="{% url 'medicinal-plants' %}">medicinal-plants</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="{% url 'contact-us' %}">Contact Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>